apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: trip-service-prod

resources:
- ../../base
- ingress.yaml
- storageclass.yaml

patches:
- target:
    kind: Deployment
    name: service-frontend
  patch: |-
    - op: replace
      path: /spec/template/spec/containers/0/image
      value: 716773066105.dkr.ecr.ap-northeast-2.amazonaws.com/service-frontend:latest
    - op: replace
      path: /spec/template/spec/containers/0/imagePullPolicy
      value: Always

- target:
    kind: Deployment
    name: service-currency
  patch: |-
    - op: replace
      path: /spec/template/spec/containers/0/image
      value: 716773066105.dkr.ecr.ap-northeast-2.amazonaws.com/service-currency:latest
    - op: replace
      path: /spec/template/spec/containers/0/imagePullPolicy
      value: Always

- target:
    kind: Deployment
    name: service-history
  patch: |-
    - op: replace
      path: /spec/template/spec/containers/0/image
      value: 716773066105.dkr.ecr.ap-northeast-2.amazonaws.com/service-history:latest
    - op: replace
      path: /spec/template/spec/containers/0/imagePullPolicy
      value: Always

- target:
    kind: Deployment
    name: service-ranking
  patch: |-
    - op: replace
      path: /spec/template/spec/containers/0/image
      value: 716773066105.dkr.ecr.ap-northeast-2.amazonaws.com/service-ranking:latest
    - op: replace
      path: /spec/template/spec/containers/0/imagePullPolicy
      value: Always

- target:
    kind: CronJob
    name: service-dataingestor-cronjob
  patch: |-
    - op: replace
      path: /spec/jobTemplate/spec/template/spec/containers/0/image
      value: 716773066105.dkr.ecr.ap-northeast-2.amazonaws.com/service-dataingestor:latest
    - op: replace
      path: /spec/jobTemplate/spec/template/spec/containers/0/imagePullPolicy
      value: Always

- target:
    kind: Service
    name: service-frontend
  patch: |-
    - op: replace
      path: /spec/type
      value: LoadBalancer
    - op: add
      path: /metadata/annotations
      value:
        service.beta.kubernetes.io/aws-load-balancer-type: "nlb"
        service.beta.kubernetes.io/aws-load-balancer-scheme: "internet-facing"
        service.beta.kubernetes.io/aws-load-balancer-cross-zone-load-balancing-enabled: "true"
# 참고: StatefulSet의 volumeClaimTemplates로 생성되는 PVC는 이 패치의 영향을 받지 않음
# StatefulSet (MySQL, MongoDB, Redis)는 base에서 storageClassName: gp3-encrypted로 설정됨
# - target:
#     kind: PersistentVolumeClaim
#   patch: |-
#     - op: replace
#       path: /spec/storageClassName
#       value: gp2

- target:
    kind: ConfigMap
    name: trip-service-config
  patch: |-
    - op: add
      path: /data/ENVIRONMENT
      value: "prod"
    - op: add
      path: /data/CLOUD_PROVIDER
      value: "aws"
    - op: add
      path: /data/REGION
      value: "ap-northeast-2"

- target:
    kind: Deployment
    name: service-frontend
  patch: |-
    - op: replace
      path: /spec/replicas
      value: 3
    - op: replace
      path: /spec/template/spec/containers/0/resources
      value:
        requests:
          memory: "32Mi"
          cpu: "50m"
        limits:
          memory: "64Mi"
          cpu: "200m"